/* index.css */
*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --primary-color: #2b2f37;
  --secondary-color: #21202c;
  --primary-font-color: white;
  --secondary-font-color: #828fa3;
  --primary-box-shadow: 0px 8px 18px 0px rgba(45, 45, 60, 0.56);
}

.light-theme {
  --primary-color: #ffffff;
  --secondary-color: #e6e6e6;
  --primary-font-color: #000000;
  --secondary-font-color: #828fa3;
  --primary-box-shadow: 0px 8px 18px 0px rgba(176, 176, 188, 0.56);
}

body {
  font-family: 'IBM Plex Sans', sans-serif;
  display: flex;
  min-height: 100vh;
  flex-direction: row;
  margin: 0;
  /* border: 5px solid red; */
  background-color: var(--secondary-color);
  box-sizing: border-box;
  width: 100%;
}

#layout {
  /* position: fixed; */
  /* height: 100%; */
  width: 100%;
  display: flex;
  flex: 1;
  flex-direction: column;
  /* border: 2px solid green; */
  overflow-x: hidden
}

.side-bar {
  /*  */
  background-color: var(--primary-color);
  /* border: 5px solid rgb(0, 0, 0); */
  border-right: 0.1px solid #979797;
  /* flex: 0.8; */
  display: none;
  flex-direction: column;
  gap: 50px;
  /* padding-left: 50px; */
  padding-right: 20px;
  height: 100vh;
  /* overflow-x: hidden; */
  margin-right: 0;
  /* padding: 0 12px 0 26px; */
  width: 350px;
}

.boards-nav-links-div {
  display: flex;
  flex-direction: column;
  color: var(--primary-font-color);
  gap: 18px;
  height: 200px;
}

#create-board-btn {
  /* order: -3; */
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  margin: 0;
  border-radius: 0 20px 20px 0;
  height: 40px;
  background-color: transparent;
  border: 0;
  color: #219C90;
  font-size: 16px;
  cursor: pointer;
  overflow: hidden;
  font-weight: 500;
  padding: 28px 12px 28px 50px;
}

.icon-new-board {
  filter: invert(21%) sepia(95%) saturate(5663%) hue-rotate(150deg)
    brightness(88%) contrast(88%);
}


.board-btn {
  font-family: inherit;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  margin: 0;
  border-radius: 0 20px 20px 0;
  height: 40px;
  background-color: #21202c;
  border: 0;
  color: var(--secondary-font-color);
  font-size: 20px;
  cursor: pointer;
  overflow: hidden;
  font-weight: 500;
  padding: 28px 12px 28px 50px;
}

.active {
  background-color: #219C90;
  color: white;
  font-weight: 500;
  padding: 28px 12px 28px 50px;
}

.active .icon-board {
  filter: brightness(0) invert(1);
  /* Change the color of the icon to white */
}

#headline-sidepanel {
  padding: 0 12px 0 50px;
}

.column-head-div {
  display: flex;
  align-items: center;
  gap: 10px;
}

#todo-dot {
  background-color: #D83F31;
}

#doing-dot {
  background-color: #E9B824;
}

#done-dot {
  background-color: #219C90;
}

h4 {
  color: var(--secondary-font-color);
  font-size: 14px;
  letter-spacing: 2px;
}

.dot {
  height: 15px;
  width: 15px;
  background-color: #fdf8f8;
  border-radius: 50%;
  display: inline-block;
}

.hide-side-bar-div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-left: 50px;
}

#show-side-bar-btn {
  border: none;
  width: 50px;
  height: 40px;
  z-index: 2;
  position: absolute;
  bottom: 45px;
  border-radius: 0 20px 20px 0;
  background-color: #219C90;
  display: none;
  cursor: pointer;
}

#hide-side-bar-btn {
  font-family: inherit;
  color: var(--primary-font-color);
  background-color: transparent;
  border: 0;
  color: var(--secondary-font-color);
  cursor: pointer;
}

h4 {
  margin-bottom: 0;
  margin-top: 0;
}

#side-logo-div {
  margin-top: 40px;
  display: flex;
  justify-content: flex-start;
  padding: 0 12px 0 50px;
}

#logo {
  width: 90%;
}

header {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-color);
  height: 100px;
  /* border: 5px solid rgb(29, 220, 237); */
  padding-left: 30px;
  padding-right: 35px;
  border-bottom: 0.1px solid #979797;
  width: 100%;
  right: 0;
  color: var(--primary-font-color);
  font-size: 30px;
  font-weight: 600;
  box-sizing: border-box;
  position: relative;
}

#add-new-task-btn {
  background-color: #219C90;
  color: white;
  border-radius: 30px;
  border: 0;
  font-size: 16px;
  padding: 18px;
  padding-left: 35px;
  padding-right: 35px;
  font-weight: 600;
  cursor: pointer;
  margin-right: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  /* flex: 5; */
  /* border: 5px solid rgb(170, 211, 58); */
  /* padding-top: 130px; */
  padding-left: 35px;
  max-height: auto;
  /* overflow: auto; */
  box-sizing: border-box;
}

.card-column-main {
  display: flex;
  flex-direction: row;
}

.column-div {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  padding-left: 12px;
  padding-right: 50px;
  width: 400px;
}

.task-div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  padding-left: 15px;
  width: 100%;
  background-color: var(--primary-color);
  color: var(--primary-font-color);
  height: 90px;
  border-radius: 12px;
  box-shadow: var(--primary-box-shadow);
  cursor: pointer;
  margin-bottom: 15px;
}

.p-task {
  margin-left: 25px;
}

.side-bar-bottom {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  margin-top: auto;
  margin-bottom: 40px;
}

/* Edit task */

#create-task-btn,
#cancel-add-task-btn {
  margin-top: 15px;
  flex: 1; /* This will make both buttons flex equally */
}

.button-group {
  display: flex;
  justify-content: space-between; /* This will space out the buttons evenly */
}

.button-group .submit-btn {
  flex: 1; /* This will make both buttons flex equally */
  margin: 0 5px; /* This adds spacing between the buttons */
  max-height: 60px;
}

.button-group .editBtns {
  flex-grow: 1; /* Allows the button to grow */
  margin: 0 10px; /* Add a margin between the buttons */
  padding: 100px 0; /* Adjust padding as necessary */
}

#cancel-add-task-btn {
  background-color: #ea5555;
}

#edit-task-header {
  display: flex;
  flex-direction: row;
}

.task-title {
  color: var(--primary-font-color);
  font-size: 18px;
}

.edit-task-description {
  color: var(--secondary-font-color);
  font-size: 16px;
}

#edit-task-status {
  height: 40px;
  padding: 10px;
  background-color: var(--primary-color);
  border: 1px solid #424852;
  border-radius: 4px;
  color: #fff;
}

.edit-task-div {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 7px;
}

.edit-task-div.button-group {
  display: flex;
  flex-direction: row; /* Align children horizontally */
  justify-content: space-between; /* Space out the children evenly */
}

.edit-task-div.button-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0; /* Ensure no padding is pushing buttons out */
}

.edit-task-div.button-group .editBtns {
  flex: 1; /* Grow and shrink as needed */
  margin: 0 4px; /* Spacing between buttons */
  /* Ensure the padding doesn't push the buttons out of their container */
  padding: 10px 0; /* You can adjust the top and bottom padding as needed */
}


.edit-task-div.button-group .editBtns {
  flex: 1; /* flex-grow: 1, flex-shrink: 1, flex-basis: 0% */
  min-height: 60px;
  margin: 0 4px; /* Adjust as needed for spacing between buttons */
}


.edit-task-modal-window {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  flex-direction: column;
  padding: 30px;
  gap: 20px;
  background-color: var(--primary-color);
  font-weight: 500;
  font-size: 14px;
  border-radius: 10px;
  display: none;
  z-index: 3;
  transition: all 0.3s ease-in;
}

.edit-btn {
  position: absolute;

  background: none;
  border: none;
  cursor: pointer;
  color: var(--secondary-font-color);
  font-size: 30px;
  font-weight: 700;
}

#edit-btn {
  top: 20px;
  right: 20px;
}

#edit-board-btn {
  top: 30px;
  right: 20px;
}

#three-dots-icon {
  display: inline;
  font-size: 35px;
  font-weight: 800;
}

#editBtnsDiv {
  border-radius: 5px;
  /* border: 2px solid red; */
  position: absolute;
  z-index: 3;
  display: flex;
  flex-direction: column;
  top: 60px;
  right: 20px;
  background: var(--secondary-color);
  align-items: flex-start;
  gap: 10px;
  justify-content: space-around;
  padding: 10px;
  width: 130px;
  display: none;
}

#editBoardDiv {
  position: absolute;
  /* z-index: 3; */
  /* display: flex; */
  flex-direction: column;
  top: 110px;
  right: 58px;
  background: var(--primary-color);
  align-items: center;
  gap: 10px;
  justify-content: space-around;
  padding: 10px;
  width: 120px;
  height: 50px;
  border-radius: 8px;
  display: none;
  z-index: 5;
}

#save-task-changes-btn {
  background-color: #219C90;
  color: white;
  border-radius: 30px;
  border: 0;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

#cancel-edit-btn {
  background-color:#E9B824;
  color: white;
  border-radius: 30px;
  border: 0;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

#delete-task-btn {
  background-color:#ea5555;
  color: white;
  border-radius: 30px;
  border: 0;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

#deleteBoardBtn {
  color: var(--primary-font-color);
}

.deleteBoardWindowBtns {
  display: flex;
  justify-content: space-between;
}

#delete-board {
  width: 280px;
  background-color: #ea5555;
}

#cancel-btn {
  width: 280px;
  background-color: var(--secondary-color);
  color: var(--secondary-font-color);
}

#modal-board {
  color: #ea5555;
  font-weight: 700;
}

.board-modal-p {
  color: #9697a5;
}

.editBtns {
  flex: 1; /* This allows the buttons to grow and fill the space equally */
  margin: 0 5px; /* This adds spacing between the buttons */
  background: none;
  border: none;
  color: var(--secondary-font-color);
  font-size: 16px;
  cursor: pointer;
}

#deleteTaskBtn {
  color: #ea5555;
}

h2 {
  font-size: 1.2em;
}
.task-title-input {
  background-color: var(--primary-color);
  border: 1px solid #424852;
  border-radius: 4px;
  width: 100%;
}

/* textarea#edit-task-desc.input.edit-task-description-input {
  color: red;
} */

/* Modal Window */

.modal-title {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 1px;
}

.modal-window {
  /* border: 5px solid red; */
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  display: flex;
  flex-direction: column;
  padding: 30px;
  gap: 20px;
  background-color: var(--primary-color);
  font-weight: 500;
  font-size: 14px;
  border-radius: 10px;
  display: none;
  z-index: 3;
  transition: all 0.3s ease-in;
}

.label-modal-window {
  color: var(--primary-font-color);
  margin-top: 15px;
  margin-bottom: 10px;
}

.modal-title {
  color: var(--primary-font-color);
}

.input-div {
  display: flex;
  flex-direction: column;
  gap: 7px;
  width: 100%; /* Ensure full width */
}

.modal-input {
  background-color: var(--primary-color);
  border: 1px solid #424852;
  border-radius: 4px;
}

#title-input {
  height: 30px;
  font-size: 14px;
}

#title-input-edit-task {
  height: 30px;
  font-size: 14px;
}

#desc-input {
  font-size: 14px;
  background-color: var(--primary-color);
  border: 1px solid #424852;
  border-radius: 4px;
  resize: none;
  color: var(--primary-font-color);
}

#desc-input-edit-task {
  font-size: 14px;
  background-color: var(--primary-color);
  border: 1px solid #424852;
  border-radius: 4px;
  resize: none;
  color: var(--primary-font-color);
}

input#edit-task-title-input.task-title-input {
  font-weight: 700;
  margin-bottom: 15px;
}

#select-status {
  height: 40px;
  padding: 10px;
  background-color: var(--primary-color);
  border: 1px solid #424852;
  border-radius: 4px;
  color: var(--secondary-font-color);
}

#edit-select-status {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 14px;
  height: 40px;
  padding: 10px;
  background-color: var(--primary-color);
  border: 1px solid #424852;
  border-radius: 4px;
  color: var(--secondary-font-color);
}

#edit-select-status-task {
  height: 40px;
  padding: 10px;
  background-color: var(--primary-color);
  border: 1px solid #424852;
  border-radius: 4px;
  color: var(--secondary-font-color);
}

.submit-btn {
  background-color: #219C90;
  color: white;
  border-radius: 30px;
  border: 0;
  font-size: 16px;
  padding: 14px;
  padding-left: 35px;
  padding-right: 35px;
  font-weight: 600;
  cursor: pointer;
  flex-grow: 1; /* Allows the button to grow and fill the space */
  margin: 5px 0; /* Optional: adds a margin between buttons */
}

::placeholder {
  color: var(--secondary-font-color);
  padding-right: 10px;
  display: flex;
  flex-wrap: wrap;
  white-space: normal;
  font-family: "Plus Jakarta Sans", sans-serif;
}

textarea {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 16px;
  color: black;
  height: 90px;
  padding: 10px;
  border-radius: 4px;
  resize: vertical;
}

input {
  color: var(--primary-font-color);
  padding: 10px;
}

/* filter */
#filterDiv {
  background-color: rgba(00, 00, 00, 0.5);
  height: 100%;
  width: 100%;
  position: absolute;
  display: none;
  z-index: 2;
}

/* Toggle Section */

.toggle-div {
  display: flex;
  justify-content: center;
  background-color: var(--secondary-color);
  padding: 15px;
  border-radius: 10px;
  margin-left: 50px;
  margin-right: 30px;
}

#icon-light {
  margin-left: 15px;
  width: 22px;
}

#icon-dark {
  margin-right: 10px;
  width: 22px;
}

input[type="checkbox"] {
  height: 0;
  width: 0;
  visibility: hidden;
}

#label-checkbox-theme {
  cursor: pointer;
  text-indent: -9999px;
  width: 55px;
  height: 23px;
  background: #219c90;
  display: block;
  border-radius: 100px;
  position: relative;
}

#label-checkbox-theme:after {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  width: 14px;
  height: 14px;
  background: #fff;
  border-radius: 90px;
  transition: 0.3s;
}

input:checked + #label-checkbox-theme {
  background: #e9b824;
}

input:checked + #label-checkbox-theme:after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}

#label-checkbox-theme:active:after {
  width: 50px;
}

.header-name-div {
  display: flex;
}

.dropdownBtn {
  display: none;
}

.side-bar.show-sidebar {
  display: flex !important;
}

.logo-mobile {
  display: none;
}

@media screen and (max-width: 800px) {
  /* .task-div {
        width: 450px;
    } */

  /* .side-bar.show-sidebar {
    display: none !important;
  }


  .container {
    max-width: 100%;
  }

  #header-board-name {
    font-size: 12px;
  } */

  .side-bar.show-sidebar {
    position: fixed;
    height: auto;
  }

  #layout {
    margin: 0;
    padding: 0;
  }

  #edit-btn {
    right: 0px;
  }

  #filterDiv {
    height: 100%;
    position: fixed;
  }

  .dropdownBtn {
    display: block;
    background-color: transparent;
    border: none;
    margin-left: 10px;
    padding: 0;
  }

  .logo-mobile {
    display: block;
    margin-right: 10px;
  }

  body {
    font-size: 0.8rem;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  #headline-sidepanel {
    padding-left: 15px;
  }

  .boards-nav-links-div {
    gap: 0;
    height: 100%;
  }

  .board-btn {
    font-size: 0.8rem;
    padding-left: 15px;
    margin-right: 15px;
    font-weight: 700;
  }

  #create-board-btn {
    padding-left: 15px;
    font-size: 0.8rem;
    font-weight: 700;
  }

  #side-logo-div {
    display: none;
  }

  .side-bar-bottom {
    height: 100%;
    margin-bottom: 0;
    margin-top: 0;
  }

  .hide-side-bar-div {
    display: none;
  }

  .toggle-div {
    margin: 0;
    width: 80%;
    align-items: center;
    margin: 20px;
    justify-content: center;
    justify-content: space-around;
    padding: 6px;
    box-sizing: border-box;
  }

  #label-checkbox-theme {
    right: 16px;
  }

  #icon-dark {
    width: 20px;
    height: 20px;
    margin: 0;
  }

  #icon-light {
    width: 23px;
    height: 23px;
    margin: 0;
  }

  #headline-sidepanel {
    padding-bottom: 10px;
  }

  .side-bar {
    display: none;
    padding: 0;
    height: 60%;
    width: 30%;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 0.8rem;
    gap: 0;
    padding-top: 15px;
    border-radius: 10px;
    border-right: 0;
    z-index: 10;
  }

  .container {
    height: auto;
    padding: 0;
    margin: 0;
    width: 100%;
    box-sizing: border-box;
  }

  .card-column-main {
    height: auto;
    flex-direction: column;
    margin: 0;
    padding: 0;
  }

  #header {
    top: 0;
    left: 0;
    height: 80px;
    margin: 0;
    padding-left: 18px;
    padding-right: 10px;
    border: none;
  }

  #edit-board-btn {
    top: 17px;
    display: flex;
    right: 10px;
    padding: 0;
  }

  #three-dots-icon {
    padding: 0;
    margin: 0;
  }

  #add-new-task-btn {
    font-size: 0;
    padding: 12px;
  }

  #editBoardDiv {
    margin: 0;
    top: 85px;
    right: 10px;
    bottom: 0;
    z-index: 6;
    padding: 20px;
    width: 80px;
    height: 30px;
  }

  .header-board-name {
  font-family: 'IBM Plex Sans', sans-serif;
}

.header-board-name {
  font-family: 'IBM Plex Sans', sans-serif;
}


  #deleteBoardBtn {
    font-size: 12px;
    font-weight: 500;
  }


  #header-board-name {
    font-size: 16px;
  }

  .column-div {
    padding: 18px;
    width: 100%;
  }

  .task-div {
    height: 70px;
  }

  .modal-window {
    width: 95%;
  }

  .columnHeader {
    font-size: 12px;
  }

  .dot {
    height: 8px;
    width: 8px;
  }

  .column-head-div {
    gap: 8px;
  }

  .edit-task-modal-window {
    width: 95%;
  }
}




@media screen and (max-width: 480px) {
  .side-bar.show-sidebar {
    position: fixed;
    height: auto;
  }

  #layout {
    /* width: 100%; */
    /* border: 2px solid rgb(62, 193, 48); */
    margin: 0;
    padding: 0;
  }

  #edit-btn {
    right: 0px;
  }

  #filterDiv {
    height: 100%;
    position: fixed;
  }

  .dropdownBtn {
    display: block;
    background-color: transparent;
    border: none;
    margin-left: 10px;
    padding: 0;
  }

  .logo-mobile {
    display: block;
    margin-right: 10px;
  }

  body {
    font-size: 0.8rem;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  #headline-sidepanel {
    padding-left: 15px;
  }

  .boards-nav-links-div {
    gap: 0;
    height: 100%;
  }

  .board-btn {
    font-size: 0.8rem;
    padding-left: 15px;
    margin-right: 15px;
    font-weight: 700;
  }

  #create-board-btn {
    padding-left: 15px;
    font-size: 0.8rem;
    font-weight: 700;
  }

  #side-logo-div {
    display: none;
  }

  .side-bar-bottom {
    height: 100%;
    margin-bottom: 0;
    margin-top: 0;
  }

  .hide-side-bar-div {
    display: none;
  }

  .toggle-div {
    /* width: 120px;
        height: 20px;
        margin-left: 14px;
        padding-left: 45px;
        padding-right: 45px; */
    /* border: 2px solid red; */
    margin: 0;
    width: 80%;
    align-items: center;
    margin: 20px;
    justify-content: center;
    justify-content: space-around;
    padding: 6px;
    box-sizing: border-box;
  }

  #label-checkbox-theme {
    /* width: 50px; */
    /* height: 2px; */
    right: 16px;
    /* border: 2px solid yellow; */
  }

  #icon-dark {
    width: 20px;
    height: 20px;
    margin: 0;
    /* margin-right: 20px; */
    /* border: 2px solid blue; */
  }

  #icon-light {
    width: 23px;
    height: 23px;
    margin: 0;
  }

  #headline-sidepanel {
    padding-bottom: 10px;
  }

  .side-bar {
    display: none;
    padding: 0;
    height: 60%;
    width: 60%;
    /* border: 2px solid green; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 0.8rem;
    gap: 0;
    padding-top: 15px;
    border-radius: 10px;
    border-right: 0;
    /* border: 2px solid green; */
    z-index: 10;
  }

  .container {
    /* border: 2px solid red; */
    height: auto;
    padding: 0;
    /* overflow-y: scroll; */
    margin: 0;
    width: 100%;
    box-sizing: border-box;
    /* border: 2px solid yellow; */
  }

  .card-column-main {
    height: auto;
    flex-direction: column;
    margin: 0;
    padding: 0;
    /* border: 2px solid red; */
  }

  #header {
    top: 0;
    left: 0;
    /* border: 2px solid white; */
    height: 80px;
    margin: 0;
    padding-left: 18px;
    padding-right: 10px;
    border: none;
  }

  #edit-board-btn {
    top: 17px;
    display: flex;
    right: 10px;
    /* border: 2px solid red; */
    padding: 0;
  }

  #three-dots-icon {
    padding: 0;
    margin: 0;
  }

  #add-new-task-btn {
    font-size: 0;
    padding: 12px;
  }

  #editBoardDiv {
    margin: 0;
    /* border: 2px solid red; */
    top: 85px;
    right: 10px;
    bottom: 0;
    z-index: 6;
    padding: 20px;
    width: 80px;
    height: 30px;
  }

  #deleteBoardBtn {
    font-size: 12px;
    font-weight: 500;
  }

  #add-new-task-btn::before {
    content: "+";
    font-size: 18px;
    font-weight: 800;
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 0;
    padding-bottom: 0;
  }

  #header-board-name {
    font-size: 16px;
  }

  .column-div {
    /* padding: 18px; */
    width: 100%;
    /* border: 2px solid rgb(93, 0, 255); */
    /* box-sizing: border-box; */
  }

  .task-div {
    height: 70px;
    /* box-sizing: border-box; */
  }

  .modal-window {
    width: 95%;
  }

  .columnHeader {
    font-size: 12px;
  }

  .dot {
    height: 8px;
    width: 8px;
  }

  .column-head-div {
    gap: 8px;
  }

  .edit-task-modal-window {
    width: 95%;
  }
}

/* Tablets */
@media screen and (min-width: 481px) and (max-width: 1024px) {
  body {
    font-size: 16px;
  }

  .container {
    /* max-width: 100%;  */
    padding-left: 20px;
    padding-right: 20px;
  }

  #header {
    padding-left: 20px;
    padding-right: 20px;
  }

  #add-new-task-btn {
    font-size: 16px;
    padding: 18px;
  }

  .column-div {
    padding: 40px;
  }

  .task-div {
    height: 110px;
    margin-bottom: 15px;
  }

  .modal-window {
    width: 70%;
  }

  h2 {
    font-size: 1em;
  }
}



/* Laptops and Desktops */
@media screen and (min-width: 1025px) {
  body {
    font-size: 16px;
  }

  .container {
    max-width: 100%;
    padding-left: 35px;
    padding-right: 35px;
  }

  #header {
    padding-left: 30px;
    padding-right: 35px;
  }

  #add-new-task-btn {
    font-size: 16px;
    padding: 20px;
  }

  .column-div {
    padding: 60px;
  }

  .task-div {
    height: 80px;
  }

  .modal-window {
    width: 30%;
  }
  .side-bar {
    width: 300px;
  }
  h2 {
    font-size: 1em;
  }
}

@media screen and (min-width: 2560px) {
  body {
    font-size: 16px;
  }

  .side-bar {
    width: 350px;
  }

  .container {
    padding-left: 50px;
    padding-right: 50px;
  }

  #header {
    padding-left: 40px;
    padding-right: 50px;
  }

  #add-new-task-btn {
    font-size: 18px;
    padding: 20px;
  }

  .column-div {
    padding: 60px;
  }

  .task-div {
    height: 90px;
    width: 90%;
    font-size: 16px;
  }

  .modal-window {
    width: 30%;
  }
}
